// LOSTUDIO SECTION
#loStudio {
  padding-bottom: $smallSpace;
}

.studioLeft,
.studioRight {
  h2 {
    position: relative;
    z-index: 10;
  }
}

.studioLeft {
  text-align: left;
}

.studioRight {
  text-align: right;

  h2 {
    margin-top: $smallSpace;
  }
}

.compoLeft,
.compoRight {
  display: grid; 
  grid-template-columns: repeat(5, 1fr); 
  margin: $smallSpace 0;
}

.redBox {
  background: $SLred;
  color: $SLwhite;
  text-align: justify;
  width: 34rem;
  height: 34rem;
  padding: 6rem;
  z-index: 1000;
  cursor: pointer;
}

.boxLeft {
  margin-right: -10rem;
}

.boxRight {
  margin-left: -10rem;
}

.copyRight,
.copyLeft {
  padding-top: $smallSpace;
  padding-bottom: $smallSpace;

  h3 {
    margin: 1rem 0 2rem;
  }

  p {
    margin: .5rem 0;
  }
}

.copyLeft {
  padding-right: 42rem;
}

.copyRight {
  padding-left: 42rem;
}

// Flip card
.cardFront, 
.cardBack {
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .5s linear;
}

.flipCard:hover > .cardFront{
  transform: perspective(600px) rotateY(-180deg);
}

.flipCard:hover > .cardBack{
  transform: perspective(600px) rotateY(0deg);
}

.cardBack{
  transform:rotateY(180deg);

  @include flexAlignCenter;
  justify-content: center;
}

// Adjustments
.compoLeftPic {
  display: flex;
  justify-content: flex-end;
  transform: translateY(-4rem)
}

.compoTitleLeft {
  margin-bottom: 4rem;
}

#studioLeft,
#studioRight {
  width: 85rem;
  height: 50rem;
}

#studioUnderline,
#missionUnderline {
  position: relative;
  z-index: 1;
}

#studioUnderline {
  width: 34rem;
  transform: translate(-.4rem, -1.4rem);
}

#missionUnderline {
  width: 37rem;
  transform: translate(1.2rem, -1.4rem);
}

// MAP SECTION
#findUs {
  padding-top: $smallSpace;
  
  h2 {
    position: relative;
    z-index: 10;
  }

  iframe {
    margin: $smallSpace 0 $bigSpace;
    position: relative;
    z-index: 1001;
  }
}

#findUsUnderline {
  width: 31rem;
  transform: translate(-.4rem, -1.3rem);
}