#background {
  position: fixed;
  bottom: 0;
  left: 6.7vw;
  opacity: .15;
  z-index: 0;
}

.backGrid {
  @include flexBetween;

  h1 {
    font-size: 20rem;
    color: #bfbfbf;
    border: 1px solid #949494;
    display: flex;
    align-items: flex-end;
    height: 100vh;
  }
}