header {
  width: 100vw;
  height: 90vh;
}

.headerCopy {
  font-size: 8rem;
  margin-top: 8rem;
}

.headerImg {
  position: absolute;
  bottom: -.2rem;
  right: 0;
}

#headerOne {
  width: 22rem;
}

#headerTwo {
  width: 36rem;
}

#headerUnderline {
  position: absolute;
  top: 26rem;
  left: 8rem;
  width: 80rem;

  // draft
  display: none;
}